{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'institucional/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Movimento{% endblock %}</title>


</head>

<body>

<header>
    <div class="container">
        <nav>
            <h2>Movimento</h2>

            <div class="links">
                <a href="{% url 'home' %}">Início</a>
                <a href="{% url 'sobre' %}">Sobre</a>
                <a href="{% url 'eventos' %}">Eventos</a>
            </div>
        </nav>
    </div>
</header>

<div class="container">
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>

<footer>
    <div class="container">
        <p>&copy; 2026 Movimento. Todos os direitos reservados.</p>
    </div>
</footer>

</body>
</html>