{% extends 'institucional/base.html' %}

{% block title %}Movimento - Sobre{% endblock %}

{% block content %}
    <h1>Sobre o Movimento</h1>
    <p>O Convívio Tabor é um movimento voltado para a juventude.
     Ele é inspirado na espiritualidade da Congregação dos Padres Missionários de São Carlos (Scalabrinianos).
     O nome “Tabor” remete ao episódio bíblico da Transfiguração de Jesus no Monte Tabor (Mateus 17, 1-8). 
     Nesse evento, Jesus se transfigurou diante de Pedro, Tiago e João,
     revelando sua glória divina e proporcionando aos apóstolos uma experiência de profunda revelação e contemplação de sua divindade.</p>
{% endblock %}